extends layout

block content
  .container.m-big-top-space.font-lato
      .row
        .col.s12.m6.offset-m3.center
          img.responsive-img(src='images/camera-shared.png', alt='')
      h1.center.main-title.color-3498DB PhotoShare
      h3.center.main-subtitle Un asombroso sitio para compartir los mejores momentos
      .nav.center.m-medium-bottom-space
        a.nav-item.m-right-space(href='/login') Iniciar Sesión
        a.nav-item(href='/signin') Registrarse
