extend layout
block content
  .container.m-medium-top-space
        .row
          .col.m6.offset-m3.z-depth-1.white.login-form
            .row
              header.col.s12.teal
                h4.center.white-text.main(style="font-family: 'Arial Black'") #{title}
              section.col.s12.m8.offset-m2(style='padding: 10px;')
                p.center Ingresar con redes sociales
                .row
                  .col.s4
                    a.icon-facebook-alt.login-social.center.color-facebook(href='#')
                  .col.s4
                    a.icon-twitter.login-social.center.color-twitter(href='#')
                  .col.s4
                    a.icon-gplus-circled.login-social.center.color-googleplus(href='')
              form.col.s10.offset-s1(action='/session', method='post')
                p.center.p-top-space(style='border-top: 1px solid #E2E2E2;') O con una cuenta
                - if (message.length > 0)
                  .row
                    .col.s12
                      .card-panel.bg-danger
                        span.white-text=message
                .row
                  .input-field.col.s12
                    i.material-icons.prefix account_circle
                    input#username.validate(type='email', name='username', required='')
                    label(for='usernme') Email
                  .input-field.col.s12
                    i.material-icons.prefix lock
                    input#password.validate(type='password', name='password', required='')
                    label(for='password') Contraseña
                  button.btn.waves-effect.waves-light.col.s10.offset-s1.m-top-space(type='submit', name='action') Enviar
            p.center
              | ¿No tiene una cuenta? 
              a(href='/signin') Registrarse
