extend layout
block content
  .container.m-medium-top-space
        .row
          .col.m10.offset-m1.z-depth-1.white.login-form
            .row
              header.col.s12.teal
                h4.center.white-text.main(style="font-family: 'Arial Black'") #{title}
              form.col.s12.m10.offset-m1(action='/users' method='post')
                - if (message.length > 0)
                  .row
                    .col.s12
                      .card-panel.bg-danger
                        span.white-text=message
                .row.m-medium-top-space
                  .input-field.col.s12.m6
                    input#name.validate(type='text' name='name' placeholder='Nombres' required)
                    label(for="name") Nombres  
                  .input-field.col.s12.m6
                      input#lastname.validate(type='text' name='lastname' placeholder='Apellidos' required)
                      label(for="lastname") Apellidos
                .row
                  .input-field.col.s12.m6
                    input#username.validate(type='text' name='username' placeholder='Username' required)
                    label(for='username') Username
                  .input-field.col.s12.m6
                    input#email.validate(type='email' name='email' placeholder='E-Mail' required)
                    label(for='email') Email
                .row
                  .input-field.col.s12.m6
                    input#password.valiate(type='password' name='password' placeholder='Contraseña' required)
                    label(for='password') Contraseña
                  .input-field.col.s12.m6
                    input#passwordConfirmation.valiate(type='password' name='passwordConfirmation' placeholder='Confirmar contraseña' required)
                    label(for='passwordConfirmation') Confirmar contraseña
                .row
                  .col.s12.m6
                      label(for='datebirth') Fecha de nacimiento
                      input#datebirth(type="date" class="datepicker", name='birthdate')
                  .col.s12.m6
                    label Género
                      .row
                        .col.s12
                          input#genderM(type='radio' name='gender' value='M' checked)
                          label.m-right-space(for='genderM') Masculino
                        .col.s12
                          input#genderF(type='radio' name='gender' value='F')
                          label(for='genderF') Femenino
                  button.btn.waves-effect.waves-light.col.s10.offset-s1.m-top-space(type='submit', name='action') Enviar
            p.center
              | ¿Ya tienes cuenta? 
              a(href='/login') Iniciar Sesión
block scripts
  script(type='text/javascript').
    $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 20
    });
