extends ../layout
block content
    include ./layoutNavbar
    .container
      h1 Hola mundo
      div.fixed-action-btn(style="bottom: 45px; right: 24px;")
        a.btn-floating.btn-large.waves-effect.waves-light.red(href='/app/new')
          i.material-icons publish
block scripts
  script
    $(".button-collapse").sideNav();
